/*
Load Fonts -------------------
*/
@font-face {
  font-family: 'Clarendon';
  src: url('../fonts/ClarendonCondensedBT.ttf');
}
@font-face {
  font-family: 'VeneerTwo';
  src: url('../fonts/veneer-two.otf');
}
@font-face {
  font-family: 'RangeMono-Reg';
  src: url('../fonts/range-mono.ttf');
}
@font-face {
  font-family: 'RangeMono-Light';
  src: url('../fonts/range-mono-light.ttf');
}

/*
PAGE ELEMENTS -------------------
*/
html {
  font-size: 14px;
  background-color: #E8EBEB;
}
body {
  margin:0;
}
.title {
  font-size: 3rem;
  color: #D4C090;
  text-decoration: none;
}
h1, h2, h3 {
  font-family: 'VeneerTwo';
}
h1{
  font-size: 2.5rem;
  color: #2a2a30;
}
h2{
  font-size: 2rem;
  color: #4c585d;
}
h3{
  font-size: 1.5rem;
  color: #72848a;
}

.flex-container-1, .flex-container-2, .flex-container-3,
.flex-container-4, .flex-container-5{
  display:flex;
  min-height: 56px;
}

.flex-container-1 {
  font-family: 'Clarendon';
  background-color: #2A2A30;
  color: #B1A071;
  padding: 1rem;
  justify-content: space-between;
}

.flex-container-2 {
  background-color: white;
  padding: 1rem;
}

.flex-container-3 >div {
  background-color: white;
  padding: 1rem;
}

.flex-container-4 >div {
  background-color: white;
}

.flex-container-5 >div {
  background-color: #D9DEDE;
  padding: 1rem;
  border: none;
}

.test-container{
  flex:1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 1.5em;
  text-align: center;
  font-family: "gotham";
}

/*
Widgets ELEMENTS -------------------
*/

.space{
  flex:  1 1 0px;
}

.ad-space-margin{
  display: flex;
  flex: 1 0 0;
  position: relative;
  flex-direction: column;
  /* max-width: 10%; */
  border: 1px solid black;
  background-position: top center;
  background-color: #72848A;
}

.ad-space{
  display: flex;
  flex: 1 0 0;
  position: relative;
  flex-direction: row;
  border: 1px solid black;
  background-position: top center;
  background-color: #72848A;
}

.ad-space-2{
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  border: 1px solid black;
  background-position: top center;
  background-color: #72848A;
}

.mini-ads{
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  border: 1px solid black;
  margin: 0px;
  padding: 2rem;
  background-position: top center;
  background-color: #72848A;
}

.ad-space-discover{
  display: flex;
  column-fill:  100%;
  position: relative;
  width: 100%;
  border: 1px solid black;
}

.footer-block{
  display: flex;
  column-fill:  100%;
  position: relative;
  width: 100%;
  min-height: 150px;
  border: 1px solid black;
  padding-bottom: 4rem;
}

.product-card-box{
  max-width: 25rem;
  margin-bottom: auto;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #E8EBEB;
  margin-left: 2rem;
  margin-right: 2rem;

}

/*
Headings ELEMENTS -------------------
*/

.headings1-product{
  font-size: 2.5rem;
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  margin-left: 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
  height: 1.5em;

}

.headings2-product{
  font-size: 2rem;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  margin:  0;
  padding: 0;
}

.paragraph-product{
  font-family: 'Public Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: flex;
  padding: 1rem;
  display: inline-block;

}

/*
Buttons ELEMENTS -------------------
*/

.button-product{
  display: inline-block;
  background-color:  #522B47;

  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button-product:hover, .button-product:focus {
  opacity: 0.7;
}

nav {
  background-color: #2A2A30;
  align-self: center;
}
.nav-button{
  font-size: 1.25rem;
  font-family: 'RangeMono-Reg';
  color: #D4C090;
  text-decoration: none;
  margin-left: 1rem;
}
