/*
Load Fonts -------------------
*/
@font-face {
  font-family: 'Clarendon';
  src: url('../fonts/ClarendonCondensedBT.ttf');
}
@font-face {
  font-family: 'VeneerTwo';
  src: url('../fonts/veneer-two.otf');
}
@font-face {
  font-family: 'RangeMono-Reg';
  src: url('../fonts/range-mono.ttf');
}
@font-face {
  font-family: 'RangeMono-Light';
  src: url('../fonts/range-mono-light.ttf');
}

/*
PAGE ELEMENTS -------------------
*/
html {
  background-color: #E8EBEB;
  font-size: 8px;
}

.flex-container-1, .flex-container-2, .flex-container-3,
.flex-container-4, .flex-container-5{
  display:flex;
}

.flex-container-1 >div {
  font-family: 'Clarendon';

  background-color: #2A2A30;
  color: #B1A071;
  padding: 1rem;
}

.flex-container-2 >div {
  background-color: white;

  padding: 1rem;
}

.flex-container-3 >div {
  background-color: white;

  padding: 1rem;
}

.test-container{
  flex:1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 1.5em;
  text-align: center;
  font-family: "gotham";
}

.title{
  flex: 1 0 200px;
  min-height: 56px;
  font-size: 4rem;
}

.ad-space-margin{
  display: flex;
  flex: 1 0 0;
  position: relative;
  min-height: 636.344px;
  max-width: 10%;
  border: 1px solid black;
  background-position: top center;
  background-color: #72848A;
}

.ad-space{
  display: flex;
  flex: 1 0 0;
  position: relative;
  min-height: 636.344px;
  max-width: 80%;
  border: 1px solid black;
  background-position: top center;
  background-color: #72848A;
}
.ad-space-discover{
  display: flex;
column-fill:  100%;
  position: relative;
  width: 100%;
  border: 1px solid black;
}

.product-card-box{
  max-width: 25rem;
  margin-bottom: auto;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #E8EBEB;
  margin-left: 2rem;
  margin-right: 2rem;
}

.headings1-product{
  font-size: 4rem;
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  margin-left: 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
  height: 1.5em;

}

.headings2-product{
  font-size: 3rem;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  margin:  0;
  padding: 0;
}

.paragraph-product{
  font-family: 'Public Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: flex;
  padding: 1rem;
  display: inline-block;

}

.button-product{
  display: inline-block;
  background-color:  #522B47;

  text-align: center;
  font-size: 4rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button-product:hover, .button-product:focus {
  opacity: 0.7;
}

.space{
  flex:  1 1 0px;
}

.navigation-buttons{
  font-size: 2rem;
  font-family: 'Clarendon';
  border: 3px solid #8AC007;
  display: flex;
}

.navigation-buttons span {
  align-self: flex-end;
}
